.pub1
{
    width: 145px;
	height: 600px;
    
    margin: 0px, 0px, 0px, 0px;
    background-color: black;
}

.pub2
{
    width: 145px;
	height: 600px;
    
    margin: 0px, 0px, 0px, 0px;
    background-color: red;
}

.pub3
{
    width: 145px;
	height: 600px;
    
    margin: 0px, 0px, 0px, 0px;
    background-color: blue;
}

.pub4
{
    width: 145px;
	height: 600px;
    
    margin: 0px, 0px, 0px, 0px;
    background-color: green;
}

.pub5
{
    width: 145px;
	height: 600px;
    
    margin: 0px, 0px, 0px, 0px;
    background-color: orange;
}

.pub6
{
    width: 145px;
	height: 600px;
    
    margin: 0px, 0px, 0px, 0px;
    background-color: pink;
}



.pub_middle_1
{
    display: inline-block;
    
    width: 780px;
	height: 135px;
    
    margin: 0px, 0px, 0px, 0px;
    margin-left: 0px;
    
    background-color:rgb(0,0,0);
}

.pub_middle_2
{
    display: inline-block;
    
    width: 780px;
	height: 135px;
    
    margin: 0px, 0px, 0px, 0px;
    margin-left: 0px;
    
    background-color: rgb(0,0,0);
}

.pub_middle_3
{
    display: inline-block;
    
    width: 780px;
	height: 135px;
    
    margin: 0px, 0px, 0px, 0px;
    margin-left: 0px;
    
    background-color: rgb(0,0,0);
}

.pub_middle_4
{
    display: inline-block;
    
    width: 780px;
	height: 135px;
    
    margin: 0px, 0px, 0px, 0px;
    margin-left: 0px;
    
    background-color: rgb(0,0,0);
}

.pub_middle_5
{
    display: inline-block;
    
    width: 780px;
	height: 135px;
    
    margin: 0px, 0px, 0px, 0px;
    margin-left: 0px;
    
    background-color: rgb(0,0,0);
}

.pub_middle_6
{
    display: inline-block;
    
    width: 780px;
	height: 135px;
    
    margin: 0px, 0px, 0px, 0px;
    margin-left: 0px;
    
    background-color: rgb(0,0,0);
}


